.button {
  font-family: "Roboto-Bold";
  padding: 10px;
  border: 1px solid var(--ntrl-max-color);
  color: var(--ntrl-max-color);
  text-transform: uppercase;
  background-color: transparent;
  width: fit-content;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background-color: var(--secondary-color);
  transform: scale(1.1);
}

.btn-close {
  width: 40px;
  height: 40px;
  background-color: transparent;
  align-self: flex-end;
  flex-shrink: 0;
  position: relative;
  padding: 0;
  border: 0;
  margin: 10px;
  cursor: pointer;
}

.btn-close:hover {
  background-color: var(--primary-color);
  transform: scale(1.1);
  transition: all 0.4s ease;
}

.btn-close::before,
.btn-close::after {
  content: "";
  display: block;
  width: inherit;
  height: 2px;
  background-color: var(--ntrl-max-color);
  position: absolute;
  top: 50%;
}

.btn-close::before {
  transform: rotate(45deg);
}

.btn-close::after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 768px) {
  .button {
    padding: 10px 15px;
  }
}

@media screen and (min-width: 1200px) {
  .button {
    padding: 15px 30px;
  }
}
