/* css for form  */
.create-meetup .background .image {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.wrap-form {
  width: 100%;
  height: 100%;
  background-color: var(--tertiary-color);
  position: absolute;
  top: 0;
  z-index: 2000;
  display: flex;
  flex-direction: column; 
}

.form-meetup {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
  font-family: 'Work-Sans';
  color: var(--primary-color);
  padding: 0 20px;
  margin-bottom: 40px;
  overflow-y: scroll;
}

.form-meetup::-webkit-scrollbar {
  display: none;
}

.form-title {
  text-align: center;
}

.group-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-meetup .label {
  margin-bottom: 5px;
}

.form-meetup .form-control {
  background-color: transparent;
  font-size: 12px;
  border: 2px solid var(--primary-color);
  padding: 10px 10px 10px 5px;
  color: var(--primary-color);
}

.group-form.error .form-control {
  border-color: var(--error-color);
}

.group-form small {
  margin-top: 5px;
  color: var(--error-color);
}

.group-form.success .form-control {
  border-color: var(--success-color);
}

.form-meetup input[type="date"]::-webkit-calendar-picker-indicator {
  margin-right: 10px;
}

.form-meetup input[type="time"]::-webkit-calendar-picker-indicator {
  margin-right: 10px;
}

.form-meetup .btn-submit {
  position: relative;
  display: block;
  margin: 0 auto;
  background-color: var(--primary-color);
}

.form-meetup .btn-submit .button-text {
  transition: 0.2 all;
}

.form-meetup .btn-loading .button-text {
  display: none;
}

.btn-loading::after {
  content: "";
  position: absolute; 
  top: 0;
  left: 10px;
  bottom: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  align-self: center;
  border: 3px solid var(--ntrl-max-color);
  border-top-color: var(--primary-color);
  border-radius: 50%;
  animation: loading-animation 0.75s ease infinite;
}

.btn-loading::before {
  content: "Loading...";
  padding-left: 25px;
}

@keyframes loading-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .wrap-form {
    width: 50%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }

  .form-meetup {
    width: 320px;
    border: 0;
  }
}

@media screen and (min-width: 1200px) {
  .wrap-form {
    width: 40%;
  }

  .form-meetup {
    width: 400px;
  }

  .form-meetup .label {
    padding-bottom: 6px;
  }

  .group-form {
    margin-bottom: 25px;
  }

  .form-meetup .form-control {
    font-size: 16px;
    padding: 12px 10px;
  }

  .group-form small {
    font-size: 13px;
  }
  .btn-loading::after {
    width: 15px;
    height: 15px;
  }
  .btn-loading::before {
    padding-left: 10px;
    font-size: 16px;
  } 
}
