.header .heading {
  font-size: 24px;
  font-family: "Roboto-Bold";
  letter-spacing: 2px;
  padding: 20px 10px;
}

@media screen and (min-width: 768px) {
  .header .heading {
    font-size: 32px;
    padding: 30px 0;
  }
}

@media screen and (min-width: 1200px) {
  .header .heading {
    font-size: 45px;
    padding: 50px 0;
  }
}
