.meetups .container {
  display: flex;
  flex-direction: column;
}

.meetups .btn-create {
  align-self: flex-end;
  margin-right: 10px;
}

.meetups .loader {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meetups .loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 5px solid var(--ntrl-max-color);
  border-top-color: var(--primary-color);
  border-radius: 50%;
  animation: loading-animation 0.75s ease infinite;
}

.meetups .hidden-loader {
  display: none;
}

@media screen and (min-width: 768px) {
  .wrap-topic-cards {
      display: flex;
      flex-wrap: wrap;
      margin-top: 40px;
      gap: 20px;
      justify-content: space-between;
  }

  .meetups .btn-create {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .wrap-topic-cards {
      gap: 40px;
  }
}
